.navbar   
    %ul
        = link_to "Home", root_path
        = link_to "Products", products_path
        %li 
            = shop_icon_quantity
            = link_to "Checkout", cartify.checkout_index_path
            = link_to "Login", new_user_session_path
            = link_to "Signup", new_user_registration_path
            = link_to "Logout", destroy_user_session_path, method: :delete
